body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    background-color: ;
}
.personal {
    background-color: white;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.datos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.PROFILE {
    background-color: white;
    width: 100%;
    padding-left: 50px
    padding-right: 50px;
}

.PROFILE-container {
    display: flex;
}

.PROFILE-element {
    width: 800px;
    margin-right: 40px;
    text-align: justify;

}

.PROFILE {
    padding-top: 30px;
    border-bottom: 1px solid black;
    width: 1110px;
    margin-left: 80px;

}

.borde {
    border-left: 5px
}

.persona {
    font-size: 30px;
    width: 30%;
    margin-left: 5px;

}
.subrayado {
    background-color: blanchedalmond;

}
    


.profesion {
    font-size: 25px;
}



.education {
    background-color: white;
    width: 100%;
    padding-left: 125px;
    padding-right: 80px;
    
}


.education-container {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
}

.education-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.border {
    padding-left: 25px;
    border-left: 1px solid black;
    
}

.education {
    padding-bottom: 40px;
    
    width: 1000px;
    margin: 10px auto; /*centrar la linea*/
    margin-right: 60px;
    
    
    
}.experience {
    background-color: white;
    width: 100%;
    margin-left: 200px;
    
}


.experience-container {
    display: flex;
    margin-right: 370px;
    
}

.experience-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;

}

.bordeo {
    padding-left: 35px;
    border-left: 1px solid black;
    margin-left: 30px;
    
    
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    border-bottom: 1px solid black;
    margin-left: 80px;
    margin-right: 50px;

}

h1 {
    margin-bottom: 20px;
    padding-right: 850px;
}

.skills-group {
    display: flex;
    gap: 50px; /* Espacio entre grupos */
    margin-bottom: 30px; /* Espacio entre filas */
    
}

.skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px; /* Ancho de la barra */
    
}

label {
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
}

.progress {
    height: 100%;
    background-color: #333;
    border-radius: 5px;
    width: 0;
}


#python {
    width: 90%;
}

#javascript {
    width: 80%;
}

#c++ {
    width: 70%;
}

#ruby {
    width: 85%;
}

#csharp {
    width: 95%;
}

#sql {
    width: 75%;
}

.projects {
    background-color: white;
    width: 100%;
    margin-left: 200px;
    
    
    
}


.projects-container {
    display: flex;
    margin-right: 370px;
    
    
}

.projects-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
    

}

.bord {
    padding-left: 35px;
    border-left: 1px solid black;
    margin-left: 30px;
    
    
}

.projects2 {
    background-color: white;
    width: 100%;
    padding-bottom: 30px;
    margin-left: 215px;
    
    
    
    
    
}


.projects2-container {
    display: flex;
    margin-right: 370px;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    
    
}

.projects2-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
    
    
    
    
    

}

.bor {
    padding-left: 35px;
    border-left: 1px solid black;
    
    
    
}

.mi-seccion {
    background-color: white;
    padding: 10px ;
    padding-left: 215px;
    padding-right: 195px;
    
    
}

.contenedor {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    
    
    
}

.columna {
    width: 50%;
    padding-left: 10px;
}



ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px; 
}

.barra-nivel {
    height: 10px;
    background-color: black;
    margin-top: 5px;
}

.certificacion {
    margin-bottom: 20px;
    margin-right: 100px;
}



p {
    margin: 5px 0;
}

.linea-divisoria {
    width: 1px; /* Ancho de la línea */
    height: 100%; /* Altura de la línea (100% del contenedor) */
    background-color: black; /* Color de la línea */
    margin: 0 20px; /* Márgenes a los lados para separarla del contenido */
}

.heading {
    padding-left: 215px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hobbie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}