.personal {
    background-color: white;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.datos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.PROFILE {
    background-color: white;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.PROFILE-container {
    display: flex;
}

.borde {
    border-left: 3px ;
}

.nombre {
    font-size: 30px;
    width: 50%;
    margin-left: 20px;
}

.profesion {
    font-size: 25px;
}

.PROFILE-element {
    width: 100%;
    margin-right: 40px;
    text-align: justify;
}

.PROFILE {
    padding-top: 30px;
    border-bottom: 3px solid black;
    width: 1110px;
    margin-left: 80px;

}

.education {
    background-color: white;
    width: 100%;
    padding-left: 125px;
    padding-right: 80px;
    
}


.education-container {
    display: flex;
}

.education-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.border {
    padding-left: 25px;
    border-left: 3px solid black;
}

.education {
    padding-bottom: 40px;
    border-bottom: 3px solid black;
    width: 1000px;
    margin: 10px auto; /*centrar la linea*/
    margin-right: 60px;
    
    
    
}
